.contenedor-principal {display: flex;padding: 2rem;gap: 2rem;}
aside.filtros {width: 200px;border-right: 1px solid #ccc;padding-right: 1rem;}
aside.filtros h3 {font-size: 16px;margin-bottom: 10px;border-bottom: 1px solid #000;padding-bottom: 4px;}
aside.filtros label {display: block;margin-bottom: 8px;cursor: pointer;}

.subcategorias {
  padding-left: 20px;
  margin-top: 8px;
}

.oculto {
  display: none;
}
